// variables
@import './variables/colors';
@import './variables/mixins';


.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}

.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider .social-icon a {
  margin: 0 3px;
}

.navbar .navbar-nav .nav-link {
  text-transform: capitalize;
}

.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}

.block-sec .vid-area {
  z-index: 99;
}

.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}

section.testimonials {
  overflow: hidden;
}

.contact-page .pages-header {
  overflow: hidden;
}

.CircularProgressbar {
  width: 110px;
  height: 110px;
}

.slick-prev,
.slick-next {
  display: none !important;
}

body .slick-dots li button {
  display: block !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.team .navs span.next.cursor-pointer {
  margin: 0 7px;
}

.projdtal .justified-gallery a {
  width: 100%;
  margin-bottom: 15px;
}

.projdtal .justified-gallery img {
  min-height: 440px;
  height: 440px;
  object-fit: cover;
  width: 100%;
}

.projdtal .justified-gallery .big-img {
  min-height: 700px;
  height: 700px;
}

.topnav .menu-icon {
  display: flex;
}

@media screen and (max-width: 991px) {
  .collapse {
    display: block;
    height: 0;
    padding: 0;
    opacity: 0;
  }

  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
    transition: all 0.3s linear;
  }
}

section.next-prog {
  overflow: hidden;
}

.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}

.hideX .pace {
  display: none !important;
}

#ieatmaps iframe {
  width: 100%;
  height: 100%;
}

section.team.section-padding {
  overflow: hidden;
}



// Sidebar Primary
.layout-primary-style {
  min-height: 100vh;
  display: flex;

  .sidebar {
    position: fixed;
    height: 100vh;
    width: 140px;
    border-right: 2px solid rgba($white, 0.03);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    z-index: 1;

    .logo {
      width: 70px;
      height: 70px;
      margin: 0 auto;
    }

    .intro {

      .intro-text {
        transform: rotate(-90deg);
        color: $white;
        text-transform: uppercase;
        font-size: 20px;
      }
    }


    .toggle {
      width: 70px;
      height: 70px;
      margin: 0 auto;
    }
  }

  .main-wrapper {
    width: 100%;
    padding: 0px;
    padding-left: 140px;
  }

  .container-fluid {
    padding: 0;
  }
}


// home-hero-section
.home-hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sub-heading {
    margin-top: 70px;
    border-left: 2px solid $theme-primary;
    padding-left: 10px;

    h1 {
      font-size: 20px;
    }
  }

  .text-1 {
    font-size: 30px;
    line-height: 40px;
  }

  .heading-sec h1 {
    font-size: 100px;
    line-height: 1;

    &:nth-child(2) {
      color: $theme-primary;
    }
  }

  .text-move-style {
    font-size: 40px;
    line-height: 50px;
  }

  .content-sec {
    padding-left: 50px;
  }

  .slider-section {
    height: calc(100vh - 250px);
    position: relative;

    .btn-showreel {
      background: none;
      border: none;
      position: absolute;
      bottom: -38px;
      left: -38px;
      z-index: 1;
    }
  }

  .bg-img {

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.0) 0%,
          rgba(0, 0, 0, 1.0) 62%);
      content: '';
      z-index: 99;
    }
  }

}

// text-theme
.text-theme {
  background: $theme-primary;
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
}

.blc-sec {
  padding-left: 50px;

  .sub-title h6 {
    display: flex;

    div {
      margin-left: 5px;
    }
  }
}


// Our Client Section
.our-client-section {
  margin-left: 50px;
  padding-bottom: 100px;

  .swiper-slide {

    // .wow:nth-child(2) {
    //   left: 50px;
    // }

    &:nth-child(even) {

      .mas-item {
        background: $black;

        &::after {
          background: $black;
        }
      }
    }

    &:nth-child(odd) {
      .mas-item {
        background: #272727;

        &::after {
          background: #272727;
        }
      }
    }
  }

  .mas-item {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 110px;
      margin-bottom: 120px;
    }

    &.icon-md {
      img {
        width: 60px;
      }
    }
  }
}

// blog-light-style

.blog-light-style {
  background-color: white;
  padding: 70px;

  .title1 {
    font-size: 40px;
    color: #414141;
  }

  .blog-section {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;

    .img {
      overflow: hidden;
      margin-bottom: 30px;

      img {
        transition: all 0.5s ease-in-out;
      }
    }


    .item {

      &:nth-child(odd) {
        margin-top: -70px;
      }

      &:hover {

        .img {
          img {
            transform: scale(1.2);
          }
        }
      }
    }

    .date {
      color: #6A6A6A;
    }

    .title {
      color: #414141;
      font-size: 25px;
      margin: 10px 0;
    }
  }

  .blog-col {

    &:nth-child(2) {
      margin-top: 100px;
    }
  }

  .read-more {
    color: #FF5531;
    display: flex;

    span {
      background-color: $white;
      display: block;
      position: relative;
      z-index: 1;
      padding: 0 10px 0 0;
    }

    img {
      width: 35px;
      margin-left: 10px;
      left: -30px;
      position: relative;
      transition: all 0.5s ease-in-out;
    }

    &:hover {

      img {
        left: -20px;
      }
    }
  }

  .info-msg {
    margin-top: -80px;

    .title4 {
      color: $theme-secondary;
      font-weight: 200;
      font-size: 25px;
      margin-bottom: 20px;
    }

    .btn-outline {
      border: 1px solid $theme-secondary;
      background: none;
      font-size: 14px;
      height: 50px;
      padding: 10px 30px;
      border-radius: 0;
    }
  }

  .description {
    color: $text-6a;
  }
}

// who-we-are-style
.who-we-are-style {
  min-height: 100vh;
  background: url('../../public/img/line-state-black.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title4 {
    max-width: 80%;
    text-align: center;
    font-size: 40px;
    margin: 25px 0 70px;
  }
}

.button-section {

  // btn-red
  .btn-red {
    background: $theme-primary;
    border: none;
    height: 50px;
    padding: 10px 40px;
    color: white;
    min-width: 206px;
    position: relative;
    transition: all .3s ease;

    .img-style {
      position: absolute;
      width: 50px;
      right: -10px;
      top: 17px;
      opacity: 0;
      transition: all .3s ease;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: $white;
      width: 0%;
      height: 50px;
      transition: all .3s ease;
    }

    span {
      position: relative;
    }

    &:hover {
      color: $theme-secondary;

      &:before {
        width: 100%;
      }

      .img-style {
        right: -30px;
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .btn-outline {
    border: 1px solid $theme-secondary;
    background: $white;
    border: none;
    height: 50px;
    padding: 10px 40px;
    color: $theme-secondary;
    min-width: 206px;
    position: relative;
    transition: all .3s ease;

    .img-style {
      position: absolute;
      width: 50px;
      right: -10px;
      top: 17px;
      opacity: 0;
      transition: all .3s ease;
      filter: brightness(0) contrast(100);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: $theme-primary;
      width: 0%;
      height: 50px;
      transition: all .3s ease;
    }

    span {
      position: relative;
    }

    &:hover {
      color: $white;
      border-color: $theme-primary;
      background-color: $theme-primary;

      &:before {
        width: 100%;
      }

      .img-style {
        right: -30px;
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

}

// Footer Section Style
.footer-section {

  .info-animation-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;

    .btn-red {
      margin-top: 40px;
    }

    .alphabat {
      border: 1px solid $gray-bc;
      height: 100px;
      width: 80%;
      margin-bottom: 33px;
      background: none;
      color: white;
      font-size: 45px;
      display: flex;
      text-align: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      .text-style {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: all 0.5s ease-in-out;

        span {
          border-left: 1px solid $gray-bc;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          text-align: center;
          width: 92px;
          margin: 0 auto;
          transition: all 0.5s ease-in-out;

          &:nth-child(1) {
            border: none;
          }
        }
      }
    }

    .with-bg {
      background-color: $theme-primary;
    }
  }

  .link-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 70px;

    .links {
      display: flex;
      flex-direction: column;

      a {
        margin-top: 20px;
      }
    }
  }

  .text-light {
    color: $gray-bc;
  }

  .title5 {
    font-size: 16px;
    font-weight: 400;
  }

  .light-style {

    .title5 {
      color: $gray-bc;
      text-transform: uppercase;
      font-size: 14px;
    }

    a {
      color: $gray-bc;
    }
  }

  .divider {
    border: 1px solid #707070;
    margin: 40px 0;
    opacity: 0.5;
  }

  .copyright-sec {
    display: flex;
    align-items: center;
    color: $gray-bc;

    a {
      border-left: 1px solid $gray-bc;
      padding-left: 15px;
      margin-left: 15px;
      color: $gray-bc;
      line-height: 1;
    }
  }

  .sb-copyright {
    color: $gray-bc;
    font-size: 16px;
    float: right;

    .logo-sb {
      width: 140px;
      position: relative;
      top: -5px;
    }
  }

  .information-section {
    display: flex;
    flex-direction: column;
    float: right;

    .address {
      margin-top: 35px;
    }

    .link-email {
      color: $gray-bc;
      margin-top: 10px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;

    a {
      margin-left: 40px;
      color: $gray-bc;
      font-size: 22px;
    }
  }
}


// Home Project Section

.project-slide-section {

  &#pinContainer {
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    perspective: 1000;
  }

  #slideContainer {
    width: 400%;
    /* to contain 4 panels, each with 100% of window width */
    height: 100%;
    display: flex;
    align-items: center;
  }

  .panel {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    background-color: transparent;
    /* relative to parent -> 25% of 400% = 100% of window width */

    .title3 {
      font-weight: 300;
      color: #BCBCBC;
    }

    .footer-section {

      .title4 {
        font-size: 24px;
      }

      .subtext {
        font-size: 18px;
        opacity: 0.5;
      }
    }

    .img-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .img-box {
      height: 78vh;
      width: 100vw;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
      }
    }

    .footer-section {
      height: 100px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      bottom: 10px;
      position: absolute;
    }


    &.first {

      .content-sec {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .img-section {
        width: 65%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
      }

      .img-box {
        width: 100%;
        position: relative;
      }

      .footer-section {
        bottom: 10px;
      }
    }
  }
}

// lets-hear-section
.lets-hear-section {
  padding-top: 150px;

  .head {
    margin-bottom: 80px;
  }

  .title3 {
    font-size: 30px;
    color: #939393;
  }

  .img-box {
    min-width: 100px;
    height: 100px;
    margin-right: 37px;
    position: relative;
    background-color: $theme-primary;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      opacity: 0.5;
      transition: all 0.5s ease-in-out;
    }
  }

  .media-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(#707070, 0.6);
    padding-bottom: 50px;
    margin-bottom: 50px;

    &:last-child {
      border: none;
    }

    &:hover {
      .img-box {

        img {
          opacity: 1;
          filter: grayscale(1);
        }
      }
    }
  }

  .text-section {
    display: flex;
    flex-direction: column;
  }

  .description {
    font-size: 25px;
    line-height: 37.5px;
    font-weight: 200;
    color: #F8F8F8;
    max-width: 85%;
  }

  .name {
    color: $theme-primary;
    font-size: 20px;
    margin-top: 50px;
  }

  .position {
    color: #939393;
    font-size: 16px;
  }
}

// our-services-component
.our-services-component {
  position: relative;
  min-height: 100vh;

  .h1 {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 74px;
  }

  .content-img {
    position:absolute;
    width: 400px;
    top: 0;
    opacity: 0;
    left: 100px;
    transition: all 0.5s ease-in-out;
  }

  .link {
    display: block;
    margin: 25px 0;

    &:hover {

      .content-img {
        opacity: 1;
      }
        
    }
  }

  
  .typo-grid {
    display: flex;
    flex-direction: column;
  }
}