@import './fonts';

// variables
@import './variables/colors';
@import './variables/mixins';

body {
  font-family: "HelveticaNeue", sans-serif !important;
  font-weight: 300;
  background: $theme-secondary !important;

  &::-webkit-scrollbar {
    display: none;
  }
  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.toggle-button-fix {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url('../../public/img/toggle-border.svg');
  padding: 13px;
  border: none;
  position: fixed;
  bottom: 40px;
  right: 40px;

  @include desktop {
    display: none;
  }

  .img-style {
    width: 100%;
    filter: contrast(0) brightness(100);
  }
}

button {

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.tag-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;

  .tag {
    font-size: 14px;
    background-color: #414141;
    width: auto;
    height: 28px;
    font-weight: 300;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: pointer;

    @include mobile {
      font-size: 12px;
      padding: 0 7px;
    }
  }
}

.blog-crv .item {
  display: flex;
  align-items: center;
  height: 100%;
}

.block-sec .testim-box .slick-dots li button {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider .social-icon a {
  margin: 0 3px;
}

.navbar .navbar-nav .nav-link,
.video .vid .vid-butn .icon,
.video-wrapper .vid .vid-butn .icon {
  cursor: pointer;
}

.block-sec .vid-area {
  z-index: 99;
}

.div-tooltip-tit,
.div-tooltip-sub {
  display: block;
  padding: 0;
}

section.testimonials {
  overflow: hidden;
}

.contact-page .pages-header {
  overflow: hidden;
}

.CircularProgressbar {
  width: 110px;
  height: 110px;
}

.slick-prev,
.slick-next {
  display: none !important;
}

body .slick-dots li button {
  display: block !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.hide-mobile {

  @include mobile {
    display: none;
  }
}

.hide-desktop {
  display: none;

  @include mobile {
    display: block;
  }
}


// Read More
.button-read-more {}

.read-more {
  color: #FF5531;
  display: flex;
  align-items: center;
  position: relative;
  display: table;

  span {
    display: block;
    position: relative;
    z-index: 1;
    padding: 0 8px 0 0;
    font-weight: 300;
    font-size: 17px;
  }

  img {
    width: 45px;
    margin-left: 10px;
    right: -14px;
    top: 8px;
    position: absolute;
    transition: all 0.5s ease-in-out;
  }

  &:hover {

    img {
      right: -30px;
    }
  }
}

.team .navs span.next.cursor-pointer {
  margin: 0 7px;
}

.projdtal .justified-gallery a {
  width: 100%;
  margin-bottom: 15px;
}

.projdtal .justified-gallery img {
  min-height: 440px;
  height: 440px;
  object-fit: cover;
  width: 100%;
}

.projdtal .justified-gallery .big-img {
  min-height: 700px;
  height: 700px;
}

.topnav .menu-icon {
  display: flex;
}

@media screen and (max-width: 991px) {
  .collapse {
    display: block;
    height: 0;
    padding: 0;
    opacity: 0;
  }

  .navbar .navbar-collapse.show-with-trans {
    opacity: 1;
    padding: 10px 15px;
    height: auto;
    transition: all 0.3s linear;
  }
}

section.next-prog {
  overflow: hidden;
}

.hideX #preloader {
  display: none !important;
  z-index: -1111111;
  height: 0;
  width: 0;
  overflow: hidden;
}

.hideX .pace {
  display: none !important;
}

#ieatmaps iframe {
  width: 100%;
  height: 100%;
}

section.team.section-padding {
  overflow: hidden;
}


.text-primary-theme {
  color: $theme-primary;
}

// Sidebar Primary
.layout-primary-style {
  min-height: 100vh;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .sidebar {
    position: fixed;
    height: 100vh;
    width: 140px;
    // border-right: 2px solid rgba($white, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 49px 0;
    z-index: 1;
    transition: all 0.5s ease-in-out;

    @include mobile {
      position: relative;
      flex-direction: row;
      height: auto;
      display: none;
    }

    .logo {
      width: 70px;
      height: 70px;
      margin: 0 auto;
      filter: contrast(0) brightness(100);
    }

    .intro {

      .App-navigation {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .App-navigation-item {
        transform: rotate(-90deg);
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        position: absolute;
        font-weight: 500;

        &.App-navigation-item--active {
          opacity: 1;
        }
      }
    }


    .toggle {
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background: url('../../public/img/toggle-border.svg');
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .img-style {
        width: 23.63px;
        height: 15.86px;
        filter: contrast(0) brightness(100);
        transition: all 0.5s ease-in-out;
      }

      &:hover {

        .img-style {
          transform: rotate(-90deg);
        }
      }
    }

    &.blog-active {
      background-color: $gray-f8;
      border-color: rgba(#707070, 0.1);

      .logo {
        filter: none;
      }

      .img-style {
        filter: none;
      }

      .App-navigation-item {
        color: $theme-secondary;
      }
    }
  }

  .main-wrapper {
    width: 100%;
    padding: 0px;
    margin-left: 140px;
    overflow: hidden;

    @include mobile {
      margin-left: 0px;
      overflow-x: hidden;
    }
  }

  .container-fluid {
    padding: 0;
  }

  .navbar-expand-lg {

    @include mobile {
      display: none;
    }
  }
}


// home-hero-section
.home-hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 136px;

  @include mobile {
    padding-left: 0px;
    min-height: auto;
  }

  .sub-heading {
    margin-top: 110px;
    border-left: 2px solid $theme-primary;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 300;
    color: $gray-f8;
  }

  .text-1 {
    font-size: 30px;
    line-height: 40px;
    color: $gray-f8 !important;


    @include mobile {
      font-size: 20px;
    }
  }

  h1 {
    font-size: 110px;
    font-weight: bold;
    margin: -10px 0;

    @include mobile {
      font-size: 65px;
      line-height: 1.5;
      margin: -20px 0;
    }

    @include iphone5 {
      font-size: 60px;
    }

    span {
      color: $theme-primary;
      position: relative;
      display: block;
      top: -20px;
    }
  }

  .animation-block {
    overflow: hidden;
  }

  .text-move-style {
    font-size: 40px;
    line-height: 50px;
    color: $gray-f8;

    @include mobile {
      font-size: 24px;
      line-height: 1.3;
      max-width: 80%;

      br {
        display: none;
      }
    }
  }

  .content-sec {

    @include mobile {
      padding: 20px 45px;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .slider-section {
    height: calc(100vh - 200px);
    background-color: transparent;
    position: relative;

    @include mobile {
      height: 304px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background-image: linear-gradient(180deg, transparent 0 0%, #000 90% 100%);
      z-index: 1;
      opacity: 0.9;
    }

    .video {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }


    .button-box {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      z-index: 99;

      @include mobile {
        left: 60px;
      }

      .btn-showreel {
        background: none;
        border: none;
        position: absolute;
        bottom: -10px;
        left: -39px;
        z-index: 99;
        height: 100px;
        width: 100px;
        background: url('../../public/img/play-outline.svg') no-repeat;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;

        @include mobile {
          height: 70px;
          width: 70px;
          left: -17px;
          bottom: -30px;
        }

        span {
          white-space: nowrap;
          position: absolute;
          left: 80px;

          @include mobile {
            font-size: 13px;
            left: 60px;
          }
        }
      }

      .img-icon {
        height: 30px;
        margin-left: 30px;
        margin-right: 20px;
        filter: contrast(0) brightness(100);
        transition: all 0.5s ease-in-out;
      }

      &:hover {

        .img-icon {
          filter: none;
          transform: scale(1.2);
        }
      }
    }
  }

  #modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 9999;

    &.one {
      transform: scaleY(.01) scaleX(0);
      animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

      .modal-background {
        .modal {
          transform: scale(0);
          animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }
      }

      &.out {
        transform: scale(1);
        animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

        .modal-background {
          .modal {
            animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
          }
        }
      }
    }

    .modal-background {
      display: table-cell;
      background: rgba(0, 0, 0, .8);
      text-align: center;
      vertical-align: middle;

      .modal {
        width: 87.7vw;
        height: 90vh;
        display: inline-block;
        position: relative;
        padding: 0;
        border-radius: 3px;
        overflow: hidden;
      }

      .video-style {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
      }

      .modal-close-button {
        position: absolute;
        top: 20px;
        right: 10px;
        color: $white;
        background: none;
        border: none;
        cursor: pointer;

        .img-icon {
          width: 60px;
          height: 60px;
          filter: contrast(0) brightness(100);
        }
      }
    }
  }


  @keyframes unfoldIn {
    0% {
      transform: scaleY(.005) scaleX(0);
    }

    50% {
      transform: scaleY(.005) scaleX(1);
    }

    100% {
      transform: scaleY(1) scaleX(1);
    }
  }

  @keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }

    50% {
      transform: scaleY(.005) scaleX(1);
    }

    100% {
      transform: scaleY(.005) scaleX(0);
    }
  }

  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
    }
  }

  .row-section-style {

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  // Mobile Style here
  .logo-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    @include desktop {
      display: none;
    }

    .logo {
      width: 70px;
      height: 70px;
    }

    .sub-heading {
      margin-top: 0;
    }
  }

}

// text-theme
.text-theme {
  background: $theme-primary;
  min-width: 7px;
  height: 7px;
  display: block;
  position: relative;
}


.blc-sec {
  padding-left: 50px;

  @include mobile {
    padding-left: 20px;
    position: relative;
    padding-top: 52px;

    &::before {
      border-top: 1px solid rgba($gray-f8, 0.3);
      padding-top: 80px;
      display: flex;
      content: '';
      width: 93%;
    }
  }

  .sub-title {

    @include mobile {
      margin-bottom: 40px;
    }

    h6 {
      display: flex;
      font-size: 22px;
      line-height: 1.6;

      @include mobile {
        font-size: 16px;
        max-width: 95%;
        flex-direction: column;
      }
  
      div {
        margin-left: 5px;
  
        @include mobile {
          margin-left: 0px;
        }
      }
    }
  }

  .title2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;

    @include mobile {
      font-size: 36px;
    }
  }

  
  .intro {
    padding-bottom: 70px;

    @include mobile {
      padding: 0;
    }
  }
}

.client-section-wrapper {
  overflow: hidden;
}

// Our Client Section
.our-client-section {
  margin-left: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @include mobile {
    padding-left: 20px;
    margin-left: 0;
    padding-bottom: 0px;
    margin-bottom: 100px;
  }

  .logo-box {
    width: 200px;
    height: 100px;
  }

  .slide-card-section {
    display: flex;
    align-items: center;
    gap: 50px;

    @include mobile {
      gap: 20px;
    }

    &:nth-child(1) {
      // margin-top: 50px;
    }

    &:nth-child(2) {
      margin-left: 100px;
      margin-top: 40px;

      @include mobile {
        margin-top: 0px;
      }
    }


    &.first {
      .slide-item {
        &:nth-child(even) {

          .mas-item {
            background: #272727;

            &::after {
              background: #272727;
            }
          }
        }

        &:nth-child(odd) {
          .mas-item {
            background: $black;

            &::after {
              background: $black;
            }
          }
        }
      }
    }

    &.second {
      .slide-item {
        &:nth-child(odd) {

          .mas-item {
            background: #272727;

            &::after {
              background: #272727;
            }
          }
        }

        &:nth-child(even) {
          .mas-item {
            background: $black;

            &::after {
              background: $black;
            }
          }
        }
      }
    }
  }

  .slide-item {
    min-width: 290px;

    @include mobile {
      min-width: 230px;
    }

    .title4 {
      position: relative;
      display: table;

      @include mobile {
        color: $theme-primary;
      }

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: $theme-primary;
        content: '';
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover {

      .title4 {
        color: $theme-primary;

        &::before {
          width: 100%;
        }
      }

      .description {
        color: white;
      }
    }
  }

  .text-section {
    margin-top: auto;
    margin-bottom: 0;
  }

  .mas-item {
    height: 350px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 50px 30px 30px;

    @include mobile {
      min-width: auto;
      height: 300px;
    }

    img {
      width: 150px;
      margin-bottom: 120px;

      @include mobile {
        margin-bottom: 50px;
      }
    }

    &.icon-md {
      img {
        width: 120px;
      }
    }

    &.icon-md2 {
      img {
        width: 110px;
      }
    }

    &.icon-sm {
      img {
        width: 70px;
      }
    }


    &.icon-lg {
      img {
        width: 180px;
      }
    }
  }

  .description {
    font-weight: 300;
    margin-top: 15px;
    color: #939393;
    font-size: 18px;
    line-height: 27px;
  }

  .title4 {
    font-size: 18px;
    font-weight: 500;
    color: $gray-f8;
  }

  .title6 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    color: $gray-f8;
    margin-bottom: 20px;
  }

  .info-msg {
    height: 350px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-outline-style {

    .btn-outline {
      border: 1px solid rgba($gray-f8, 0.5);
      color: rgba($gray-f8, 0.5);
      background: none;
      padding: 10px 30px;
      border-radius: 0;

      &:hover {
        color: rgba($gray-f8, 1);
      }

      img {
        filter: contrast(0) brightness(100);
      }
    }
  }
}

// blog-light-style

.blog-light-style {
  padding: 100px 70px 150px;
  transition: all 0.6s ease-in-out;

  @include mobile {
    padding: 50px 20px 30px;
  }

  .cont {
    overflow: hidden;
  }

  .title1 {
    font-size: 40px;
    font-weight: 500;
  }

  .blog-section {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-top: 30px;
    }

    .img {
      overflow: hidden;
      margin-bottom: 30px;
      height: 327px;

      @include mobile {
        height: 220px;
      }

      img {
        transition: all 0.5s ease-in-out;
      }
    }


    .item {

      &:nth-child(odd) {
        margin-top: -70px;

        @include mobile {
          margin-top: 0;
        }
      }

      &:hover {

        .title {
          text-decoration: underline;
        }

        .img {
          img {
            transform: scale(1.2);
          }
        }
      }
    }

    .title {
      font-size: 25px;
      margin: 10px 0;
    }
  }

  .blog-col {

    &:nth-child(2) {
      margin-top: 100px;
    }
  }

  .info-msg {
    margin-top: -80px;

    @include mobile {
      margin-top: 0px;
      margin-bottom: 50px;
    }

    .title4 {
      font-weight: 300;
      font-size: 25px;
      margin-bottom: 20px;

      @include mobile {
        font-weight: 500;
        font-size: 20px;
      }
    }

    .btn-outline {
      border: 1px solid $theme-secondary;
      background: none;
      height: 50px;
      padding: 10px 30px;
      border-radius: 0;

      &:hover {
        border: 1px solid $theme-primary;

        img {
          filter: brightness(0) contrast(1);
        }
      }
    }
  }

  .right-flex {

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: end;
      width: 100%;
    }
  }

  &.black-style {
    color: $gray-f8;

    .title1 {
      font-size: 40px;
      color: $gray-f8;
    }

    .title {
      color: $gray-f8;
    }

    .info-msg {
      .btn-outline {
        color: rgb(29, 13, 13);
      }

      img {
        filter: contrast(0) brightness(100);
      }
    }

    .description {
      color: $gray-f8;
      font-size: 18px;
      line-height: 27px;
    }

    .btn-outline {
      border: 1px solid $gray-f8;
    }

    .read-more {

      span {
        background-color: $theme-primary;
        font-size: 17px;
      }

      &:hover {
        color: $theme-primary;
      }
    }

    .date {
      .num {
        color: $gray-f8;
      }
    }

    .title {
      color: $gray-f8;
      line-height: 36px;
      font-size: 24px;
      margin: 10px 0 20px;
    }
  }

  &.white-style {
    background-color: $gray-f8;

    .title1 {
      color: #414141;
    }

    .info-msg {
      .btn-outline {
        color: #414141;
      }

      img {
        filter: none;
      }
    }


    .description {
      color: $text-6a;
    }

    .title4 {
      color: #414141;
    }

    .btn-outline {
      border: 1px solid $theme-secondary;

      &:hover {
        color: $white;
      }

      @include mobile {
        border: 1px solid $theme-primary;
      }
    }

    .date {
      .num {
        color: #414141;
      }
    }

    .title {
      color: #414141;
      font-size: 25px;
      margin: 10px 0;
    }

    .read-more {

      span {
        background-color: $gray-f8;
      }

      &:hover {
        color: $theme-primary;
      }
    }
  }
}

// who-we-are-style
.who-we-are-style {
  background: url('../../public/img/line-state-black.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 100vh;

  @include mobile {
    padding: 80px 20px;
    background-size: cover;
    height: auto;
  }

  .box-outline {
    background: url('../../public/img/text-wrap-line.svg');
    background-repeat: no-repeat;
    background-position: 20px 70%;
    padding-left: 30px;

    @include mobile {
      background-position: 2px 3px;
      padding-left: 18px;
      padding-bottom: 5px;
      background-size: 90%;
    }
  }

  .line-img-style {
    min-height: 102px;
    width: 250px;
    position: absolute;
    top: -13px;
    left: 195px;
    object-fit: contain;

    @include mobile {
      left: 25px;
      top: -26px;
    }
  }

  .title4 {
    text-align: center;
    font-size: 40px;
    color: $white;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0.4px;
    position: relative;
    z-index: 1;

    @include mobile {
      font-size: 32px;
      line-height: 45px;
    }
  }

  .text-gray {
    color: #939393;
    font-size: 30px;
    margin: 22px 0 50px;

    @include mobile {
      font-size: 16px;
      text-align: center;
      line-height: 1.5;
      font-weight: 500;
      max-width: 85%;
      margin: 14px auto 50px;
    }
  }
}

.button-section {

  // btn-red
  .btn-red {
    background: $theme-primary;
    border: none;
    height: 50px;
    padding: 10px 40px;
    color: white;
    min-width: 206px;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    transition: all .5s ease-in-out;
    cursor: pointer;
    letter-spacing: 1px;

    .img-style {
      position: absolute;
      width: 60px;
      right: -10px;
      top: 17px;
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: $white;
      width: 0%;
      height: 50px;
      transition: all .3s ease-in-out;
    }

    span {
      position: relative;
    }

    &:hover {
      color: $theme-secondary;

      &:before {
        width: 100%;
      }

      .img-style {
        right: -30px;
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .btn-outline {
    border: 1px solid $theme-secondary;
    background: $white;
    border: none;
    height: 50px;
    padding: 10px 40px;
    color: $theme-secondary;
    min-width: 208px;
    position: relative;
    transition: all .3s ease-in-out;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;

    @include mobile {
      font-size: 14px;
      min-width: auto;
    }

    .img-style {
      position: absolute;
      width: 60px;
      right: -10px;
      top: 17px;
      opacity: 0;
      transition: all .3s ease-in-out;
      filter: brightness(0) contrast(100);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: $theme-primary;
      width: 0%;
      height: 48px;
      transition: all .3s ease;
    }

    &:hover {
      color: $white;
      border-color: $theme-primary;
      background-color: $theme-primary;

      span {
        // font-weight: 500;
        position: relative;
      }

      &:before {
        width: 100%;
      }

      .img-style {
        right: -40px;
        opacity: 1;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

}

// Footer Section Style
.footer-section {
  min-height: 100vh;
  padding: 120px 70px 0;

  @include mobile {
    padding: 80px 25px 0;
  }

  .info-animation-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;

    @include mobile {
      margin-bottom: 50px;
    }

    .btn-red {
      margin-top: 40px;
    }

    .alphabat {
      border: 0.5px solid rgba($gray-f8, 0.5);
      height: 100px;
      width: 80%;
      margin-bottom: 30px;
      background: none;
      color: white;
      font-size: 45px;
      display: flex;
      text-align: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      font-weight: 500;

      @include mobile {
        width: 100%;
        font-size: 20px;
        height: 40px;
      }

      .text-style {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: all 0.5s ease-in-out;

        span {
          border-left: 0.5px solid rgba($gray-f8, 0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          text-align: center;
          width: 92px;
          margin: 0 auto;
          transition: all 0.5s ease-in-out;

          &:nth-child(1) {
            border: none;
          }
        }
      }
    }

    .with-bg {
      background-color: $theme-primary;
    }
  }


  .text-gray-light {
    color: $gray-bc;
    font-size: 20px;

    @include mobile {
      font-size: 16px;
      text-align: center;
      line-height: 1.5;
    }
  }

  .link-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 70px;

    @include mobile {
      flex-direction: column;
      padding-right: 0px;
      align-items: flex-start;
    }

    &.first {
      .links {
        display: flex;
        flex-direction: column;

        @include mobile {
          flex-direction: row;
          gap: 20px;
          flex-wrap: wrap;
        }

        a {
          margin-top: 20px;
          font-size: 16px;
          color: $gray-f8;
          transition: all 0.5s ease-in-out;
          display: flex;
          align-items: center;
          letter-spacing: 1px;

          @include mobile {
            margin-top: 0px;
            letter-spacing: 1.2px;

            &:after {
              display: flex;
              content: '';
              width: 13px;
              height: 7.8px;
              background: url('../../public/img/short-arrow.svg') no-repeat;
              background-size: contain;
              background-position: center;
              margin-left: 5px;
              transition: all 0.5s ease-in-out;
            }
          }

          &:hover {
            color: $theme-primary;
            text-decoration: underline;
          }
        }
      }
    }

    &.second {
      @include mobile {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }

      .links {
        display: flex;
        flex-direction: column;

        @include mobile {
          flex-wrap: wrap;
          gap: 20px;

          &:first-child {
            margin-right: 58px;
          }
        }

        a {
          margin-top: 24px;
          font-size: 14px;
          color: $gray-bc;
          transition: all 0.5s ease-in-out;
          letter-spacing: 1px;

          @include mobile {
            margin: 0;
            letter-spacing: 1.2px;
          }

          &:hover {
            color: $theme-primary;
          }
        }
      }
    }
  }

  .title5 {
    font-size: 13px;
    font-weight: 500;
    color: #6A6A6A;
    letter-spacing: 0.5px;

    @include mobile {
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  .light-style {

    @include mobile {
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      padding-top: 20px;
      margin-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    a {
      color: $gray-bc;
      font-size: 14px;
      transition: all 0.5s ease-in-out;
      letter-spacing: 0.5px;

      @include mobile {
        font-weight: 300;
      }

      &:hover {
        color: $theme-primary;
      }
    }
  }

  .divider {
    border: 1px solid #707070;
    margin: 40px 0;
    opacity: 0.2;

    @include mobile {
      display: none;
    }
  }

  .copyright-sec {
    display: flex;
    align-items: center;
    color: $gray-bc;
    font-size: 14px;
    letter-spacing: 0.5px;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 50px;
      font-size: 11px;
    }

    p {

      @include mobile {
        font-size: 11px;
      }
    }

    a {
      border-left: 1px solid $gray-bc;
      padding-left: 15px;
      margin-left: 15px;
      color: $gray-bc;
      line-height: 1;
      transition: all 0.5s ease-in-out;

      @include mobile {
        padding-left: 10px;
        margin-left: 10px;
      }

      &:nth-child(1) {

        @include mobile {
          border-left: none;
          padding-left: 0px;
          margin-left: 5px;
        }
      }

      &:hover {
        color: $theme-primary;
      }
    }
  }

  .sb-copyright {
    color: $gray-bc;
    font-size: 16px;
    float: right;
    font-weight: 300;
    letter-spacing: 0.5px;

    @include mobile {
      font-size: 14px;
      float: none;
      max-width: 90%;

      br {
        display: none;
      }
    }

    .logo-sb {
      width: 140px;
      position: relative;
      top: -5px;
      transition: all 0.3s ease-in-out;

      @include mobile {
        width: 100px;
        top: -3px;
      }

      &:hover {
        transform: translateY(-10px);
      }
    }
  }

  .information-section {
    display: flex;
    flex-direction: column;
    float: right;
    width: 402px;

    @include mobile {
      width: auto;
    }

    .address {
      margin-top: 35px;
      color: $theme-primary;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      letter-spacing: 0.5px;

      @include mobile {
        margin-top: 15px;
      }


      a {
        position: relative;
        display: flex;
        align-items: center;
        transition: all 0.5s ease-in-out;

        &:after {
          display: flex;
          content: '';
          width: 13px;
          height: 7.8px;
          background: url('../../public/img/short-arrow.svg') no-repeat;
          background-size: contain;
          background-position: center;
          opacity: 0;
          margin-left: 5px;
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          color: $white;

          &:after {
            opacity: 1;
          }

        }
      }
    }

    .link-email {
      color: $theme-primary;
      margin-top: 10px;
      font-size: 16px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 402px;
    margin-left: auto;
    margin-right: 0;

    @include mobile {
      padding-left: 0px;
      margin-top: 30px;
      justify-content: flex-start;
    }

    a {
      color: $gray-bc;
      font-size: 22px;
      transition: all 0.5s ease-in-out;

      @include mobile {
        margin-left: 0;
        margin-right: 30px;
      }

      &:hover {
        color: $theme-primary;
      }
    }
  }

  .row-column-style {
    @include mobile {
      flex-direction: column-reverse;
    }
  }

  .hide-mobile {

    @include mobile {
      display: none;
    }
  }

  
  .hide-desktop {
    display: none;
    
    @include mobile {
      display: flex;
    }
  }

}


// Home Project Section

.project-slide-section {
  min-height: 100vh;
  padding: 20px 0;
  scroll-snap-align: start;

  @include mobile {
    padding-top: 0;
  }

  .content-sec {
    overflow: hidden;
    width: 100%;
  }

  &#pinContainerPortfolio {
    width: 100%;
    // height: 750px;
    overflow: hidden;
    perspective: 1000;


    @include mobile {
      height: auto;
    }
  }

  #slideContainer {
    width: 550%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    @include mobile {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  }


  .info-msg {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

    @include mobile {
      margin-top: 20px;
    }

    .title4 {
      color: $white;
      font-weight: 200;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;

      @include mobile {
        font-size: 20px;
        line-height: 30px;
      }
    }

    .btn-outline {
      border: 1px solid rgba($gray-f8, 0.5);
      color: rgba($gray-f8, 0.5);
      background: none;

      @include mobile {
        border: 1px solid $theme-primary;
        opacity: 1;
        color: rgba($gray-f8, 1);
      }

      &:hover {
        border: 1px solid $theme-primary;
        color: rgba($gray-f8, 1);
      }

      img {
        filter: contrast(0) brightness(100);
      }
    }
  }

  .panel {
    height: 100%;
    width: 100%;
    /* relative to parent -> 25% of 400% = 100% of window width */
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    padding: 0 30px;
    overflow: hidden;

    @include mobile {
      width: 100%;
      flex-direction: column;
      height: auto;
      padding: 0 20px;
    }

    &:nth-child(1) {
      padding: 0;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        padding: 20px;
        width: 100%;
      }
    }

    &:last-child {
      padding: 0;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        padding: 20px;
        width: 100%;
      }

      .content-sec {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          padding: 20px;
          width: 100%;
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
    }


    .title3 {
      font-weight: 300;
      font-size: 34px;
      color: $gray-bc;

      @include mobile {
        font-size: 20px;
        max-width: 70%;
        width: 100%;

        br {
          display: none;
        }
      }

      .text-theme {
        top: 0px;
        left: 0px;
        margin-bottom: 0;
        display: inline-block;

        @include mobile {
          margin-bottom: 0px;
          left: 3px;
        }
      }
    }

    .footer-block {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100px;
      margin-top: 30px;

      @include mobile {
        margin-top: 20px;
        height: auto;
        margin-bottom: 50px;
      }

      .title4 {
        font-size: 25px;
        color: $gray-f8;
        font-weight: 500;

        @include mobile {
          font-size: 18px;
        }
      }

      .title-theme {
        color: $theme-primary;
        font-weight: 500;
        font-size: 18px;
        transition: all 0.5s ease-in-out;

        &:hover {
          text-decoration: underline;
        }
      }

      .subtext {
        font-size: 20px;
        color: #939393;
      }
    }

    .img-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;

      button {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 60px;
        height: 60px;
        background: none;
        border: none;
      }

      &:hover {

        img {
          transform: scale(1.1);
        }
      }
    }

    .img-box {
      min-height: 77.9vh;
      width: 100%;
      overflow: hidden;
      position: relative;

      @include mobile {
        min-height: 210px;
        width: 100%;
      }

      img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
        object-position: center;
        transition: all 0.5s ease-in-out;
      }
    }

    &.first {

      .content-sec {

        @include mobile {
          margin-bottom: 20px;
        }
      }
    }

    &.first,
    &.last {

      .content-sec {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 81%;

        @include mobile {
          width: 100%;
          height: auto;
          justify-content: flex-start;
        }
      }

      .img-section {
        width: 65%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;

        @include mobile {
          width: 100%;
        }
      }

      .img-box {
        width: 100%;
        position: relative;
      }
    }

    &.last {

      .content-sec {
        @include mobile {
          justify-content: flex-end;
        }
      }
    }
  }
}

// lets-hear-section
.lets-hear-section {
  padding: 150px 136px 100px;

  @include mobile {
    padding: 80px 30px 0px;
  }

  .head {
    margin-bottom: 80px;
    overflow: hidden;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  .title3 {
    font-size: 30px;
    color: #939393;
    font-weight: 300;

    @include mobile {
      font-size: 22px;
    }
  }

  .img-box {
    min-width: 100px;
    height: 100px;
    margin-right: 37px;
    position: relative;
    background-color: $theme-primary;

    @include mobile {
      min-width: 80px;
      height: 80px;
      margin-right: 15px;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      opacity: 0.5;
      transition: all 0.5s ease-in-out;
    }
  }

  .splitting.txt .whitespace {
    width: 4px;
}

  .media-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(#707070, 0.6);
    padding-bottom: 50px;
    margin-bottom: 50px;

    &:last-child {
      border: none;
    }

    &:hover {
      .img-box {

        img {
          opacity: 1;
          filter: grayscale(1);
        }
      }
    }
  }

  .text-section {
    display: flex;
    flex-direction: column;
  }

  .description {
    font-size: 23px;
    line-height: 37.5px;
    font-weight: 300;
    color: $gray-f8;
    max-width: 95%;
    text-align: left;

    @include mobile {
      font-size: 16px;
      line-height: 1.5;
      max-width: 100%;
    }
  }

  .name {
    color: $theme-primary;
    font-size: 20px;
    margin-top: 38px;
  }

  .position {
    color: #939393;
    font-size: 16px;
  }
}

// our-services-component
.our-services-component {
  position: relative;
  min-height: 100vh;
  padding: 50px 20px 100px 136px;

  @include mobile {
    padding: 0px 45px;
    min-height: auto;
  }

  .extra-title {

    @include mobile {
      font-size: 30px;
    }
  }

  .desktop-version {

    @include mobile {
      display: none;
    }
  }

  .mobile-version {

    @include desktop {
      display: none;
    }
  }

  .animation-block {
    overflow: hidden;
  }

  .title6 {
    font-size: 22px;
    color: #939393;
    font-weight: 300;

    @include mobile {
      font-size: 17px;
    }

    span {
      color: $theme-primary;
    }
  }

  .categories-wrapper {

    .categories {
      width: 100%;
      font-size: 3.6vmax;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 16px;
      justify-content: flex-start;
    }
  }

  .typo-grid {
    position: relative;
  }


  .images {
    position: relative;

    img {
      position: absolute;
      min-width: 354px;
      max-width: 354px;
      min-height: 586px;
      max-height: 586px;
      opacity: 0;
      left: 14vw;
      top: 0;
    }
  }

  .info-msg {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 50px;

    .title4 {
      color: $gray-f8;
      font-weight: 200;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;

      @include mobile {
        font-size: 20px;
        line-height: 30px;
      }
    }

    .btn-outline {
      border: 1px solid rgba($gray-f8, 0.5);
      color: rgba($gray-f8, 0.5);
      background: none;

      &:hover {
        border: 1px solid $theme-primary;
        color: rgba($gray-f8, 1);
      }

      img {
        filter: contrast(0) brightness(100);
      }
    }
  }

  .content-right {
    position: absolute;
    right: 0px;
    top: 0;
    width: 400px;
    z-index: 99;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    text-align: left;
    margin-right: 70px;
    opacity: 0;

    @include mobile {
      position: relative;
      top: 0%;
      z-index: 1;
      transform: scale(1);
    }
  }

  .item {
    margin-bottom: 50px;
  }

  .contents {
    z-index: 1;
    
    .content-right {
  
      &:nth-child(1) {
          top: 30px;
      }
  
      &:nth-child(2) {
          top: 190px;
      }
  
      &:nth-child(3) {
          top: 350px;
      }
  
      &:last-child {
          top: auto;
          bottom: 50px;
      }
    }
  }

 

  .intro {
    margin-bottom: 80px;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  .h1 {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 74px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $text-6a;
    color: transparent;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;

    &:after {
      display: flex;
      content: '';
      width: 94px;
      height: 24px;
      background: url('../../public/img/long-arrow-right.svg') no-repeat;
      background-size: contain;
      opacity: 0;
      margin-left: 10px;
      // transform: translateX(-20px);
      transition: all 0.5s ease-in-out;
    }
  }
  
  .arrow-2x {
    
    &:after {
      width: 194px;
      background: url('../../public/img/arrow-2x-long.svg') no-repeat;
    }
  }

  .arrow-short {
    
    &:after {
      width: 194px;
      background: url('../../public/img/arrow-short.svg') no-repeat;
    }
  }

  .description {
    color: white;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 20px;
  }

  .extra-description {
    color: $gray-bc;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 40px;
  }

  .read-more {
    margin-top: 10px;

    span {
      background-color: #191919;
    }

    &:hover {
      span {
        color: $theme-primary;
      }
    }
  }

  .logo-img {
    width: 150px;
    margin-bottom: 10px;
    filter: contrast(0) brightness(100);
  }


  // Hover effect
  .animation-block {
    &:hover {
      .h1 {
        color: white;
        -webkit-text-stroke-width: 0;

        &:after {
          opacity: 1;
        }
      }

      +.content-right {
        transform: scale(1);
        opacity: 1;
      }

    }
  }


  .services-style {
    width: 100%;
    padding: 0 0px;

    @include mobile {
      margin: 0 0px;
    }

    .accordion__panel {

      @include mobile {
       padding: 20px 0;
      }
    }

    .accordion__button {
      background: none;
      font-size: 34px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $text-6a;
      display: flex;
      align-items: center;
      padding: 0 18px;
      font-weight: 500;
      color: transparent;

      @include mobile {
        font-size: 30px;
        padding: 0px;
      }
    }

    .accordion__button[aria-expanded='true'] {
      color: $white;
      -webkit-text-stroke-width: 0;
    }

    .accordion__button::before {
      display: none;
    }

    .accordion__button:after {
      margin-left: 10px;
      border: none;
      content: '+';
      transform: rotate(0);
      font-size: 40px;
      color: $theme-primary;
      -webkit-text-stroke-width: 0;
      font-weight: 500;
    }

    .accordion__button[aria-expanded='true']::after {
      content: '-';
      transform: rotate(0);
      font-size: 40px;
      color: $theme-primary;
      -webkit-text-stroke-width: 0;
    }
  }
}

// Design audit
.design-audit {
  background-color: $white;
  padding: 50px 70px;
  position: relative;

  @include mobile {
    padding: 50px 20px;
  }

  .animation-block {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 1;

    .ani-text {
      display: flex;
      align-items: center;

      @include mobile {
        display: block;
      }
    }
  }

  .title4 {
    font-size: 30px;
    line-height: 40px;
    color: $theme-secondary;
    font-weight: 500;
    max-width: 70%;

    @include mobile {
      font-size: 22px;
      line-height: 33px;
      font-weight: 500;
      max-width: 100%;
    }
  }

  .title2 {
    color: $theme-secondary;

    @include mobile {
      font-size: 24px;
    }

    .text-orange {
      color: $theme-primary;
      margin: 0 10px;
      display: inline;

      @include mobile {
        margin: 0 0px;
      }
    }
  }

  .button-section {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      justify-content: flex-start;
      margin-top: 25px;
    }

    .btn-outline {
      border: 1px solid $theme-secondary;
      color: $theme-secondary;
      background: none;
      height: 50px;
      padding: 10px 30px;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        border: 1px solid $theme-primary;
      }

      &:hover {
        border: 1px solid $theme-primary;
      }

      span {
        font-size: 16px;
      }

      &:hover {
        color: white;
      }
    }
  }

  .trigger-style {
    top: -200px;
    background-color: red;
    width: 20px;
    height: 280px;
    right: 0;
    position: absolute;
    opacity: 0;
  }
}


// navbar-custom-style
.navbar-custom-style {

  .nav-item {

    .nav-link {
      display: flex;
      align-items: center;

      &::before {
        width: 8px;
        height: 8px;
        background-color: $theme-primary;
        content: '';
        display: inline-block;
        margin-right: 5px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }

      &:hover {
        color: $white;

        &::before {
          opacity: 1;
        }
      }
    }
  }
}


.scroll-indicator {
  position: fixed;
  left: 139px;
  top: 0;
  bottom: 30px;
  width: 1px;
  font-family: helvetica, sans-serif;
  z-index: 1;

  @include mobile {
    display: none;
  }

}

.scroll-indicator:before {
  content: "";
  position: fixed;
  left: 139px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(#707070, $alpha: 0.2);
}

.indicator {
  top: 0;
  left: 0;
  position: absolute;
  width: 2px;
  height: 70px;
  background-color: $gray-bc;

}

.indicator span {
  position: absolute;
  transform: translate(30%, 30%);
  width: 3em;
  font-family: sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  text-align: left;
}

.animation-sec {
  position: relative;
  overflow: hidden;
  text-align: center;
}


// style when user reach blog section
.blog-nav-active {
  background: $gray-f8;
  border-color: rgba($gray-bc, 0.05);

  .nav-link {
    color: $theme-secondary !important;
  }
}