// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;
$gray-f9: #f9f9f9;
$text-primary : #001325;
$gray-f0: #F0F0F0;
$gray-f5: #F5F5F5;
$gray-bc: #BCBCBC;
$text-6a: #6A6A6A;
$gray-f8 : #F8F8F8;

// Color Shades (Theme Based - Xclusive)
$theme-primary: #FF5531;
$theme-secondary: #191919;
$theme-blue : #0E5EF7;
$theme-skin: #E2592B;
$theme-danger: #D61A1E;
$theme-success: #148453;
$theme-bg : #0C0F16;


// Unique Color List
$theme-dark: #25282b;
$theme-info: #A662DA;
$theme-warning: #FB8B24;
$theme-green: #36942f;
$theme--dark-purple: #754186;
$theme-yellow: #F6AE2D;
$theme-cyan: #07BEB8;
$theme-pink: #D90368;
$theme-link: #3885BB;